.f-montserrat {
    font-family: 'Montserrat', sans-serif !important;
}

.f-vinkel {
    font-family: 'Vinkel-Bold', sans-serif !important;
}

.f-vinkel-regular {
    font-family: 'Vinkel-Regular', sans-serif !important;
}